<section class="technologies">
    <h2 class="technologies__heading">Technologies I love to work with</h2>
    <ul class="technologies__list">
        <li class="technologies__item">
        <div class="technologies__logo">
            <img src="/images/javascript.svg" alt="JS Logo">
        </div>
        <h3 class="technologies__title">JavaScript</h3>
    </li>
    <li class="technologies__item">
        <div class="technologies__logo">
            <img src="/images/react.svg" alt="react">
        </div>
        <h3 class="technologies__title">React</h3>
    </li>
    <li class="technologies__item">
        <div class="technologies__logo">
            <img src="/images/firebase.svg" alt="firebase logo">
        </div>
        <h3 class="technologies__title">Firebase</h3>
    </li>
    <li class="technologies__item">
        <div class="technologies__logo">
            <img src="/images/tailwindcss.svg" alt="tail wind css logo">
        </div>
        <h3 class="technologies__title">Tail Wind Css</h3>
    </li>
    </ul>
</section>